body {
    background-color: ivory;
}

.monitorImage{
    position:absolute;
    height:1000px;
    left: -200px;
    top: -50px;
    pointer-events: none;
    z-index: -1;
}

#outsideWrapper {
    height: 675px;
    width: 775px;
    left: 205px;
    top: 150px;
    position: absolute;
    z-index: -1;
}

.windowHeader{
    padding: 10px;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    display: flex;
}

.outsideWrapper button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.insideWrapper {
    width:100%;
    height:100%;
}

.coveredImage {
    max-width: 100%;
    height:auto;
    position:absolute;
    top:0px;
    left:0px;
    object-fit: contain;
}

.coveringCanvas {
    width:100%;
    height:100%;
    position:absolute;
}

.draggable {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#sceneSettingsMenu {
    height: 400px;
    width: 100px;
    position: absolute;
}

#objectPropertiesMenu {
    position: absolute;
}

#imagesMenu {
    position: absolute;
}

#objectsMenu {
    position: absolute;
}


body {
  background-image: url('./public/assets/sky.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.renderedImage {
    position:absolute;
    cursor:pointer;

}

.renderedImage:hover {
    margin-top: -50px;
}